<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>



    <div style="padding-top: 20px;">
      <h2>About me</h2>
      <img src="Assets/images/foto.jpg" height="250px" width="220px">
      <table>
        <tr>
          <td>Name: </td>
          <td>Bruno Sánchez Acevedo</td>
        </tr>
        <tr>
          <td valign="top">About me: </td>
          <td>
            My name is Bruno. I'm a Software Engineering student at Centennial College. I was born and raised in
            Concepción, Chile. <br>
            I did high school in Chile. <br>
            I like to work on different kind of projects. I like to try ideas of businesess that I have,
            I believe that a day where you don't make any money, is a wasted day. I'm always on the look to hustle.
            Furthermore, I like to train my body every day, I believe that a healthy and strong body is a healthy mind.
          </td>
        </tr>
        <tr>
          <td>Resume: </td>
          <td><a href="Assets/images/CV.pdf">Click Here</a></td>
        </tr>
      </table>
    </div>

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>