<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>


      <div style="padding-top: 20px;">
         <h2>Contact Me</h2>
         <table>
            <tr>
               <td>Contact number: </td>
               <td>(+1) 647 806 0479</td>
            </tr>
            <tr>
               <td>Facebook Id</td>
               <td>Bruno Sánchez Acevedo</td>
            </tr>
            <tr>
               <td>Twitter handle</td>
               <td>@Brunoz_ace</td>
            </tr>
            <tr>
               <td>Email</td>
               <td>bsanche3@mycentennialcollege.ca</td>
            </tr>
         </table>
      </div>
      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>