<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>



      <h1 display-4 align="center"><strong>Welcome to my Personal Homepage</strong></h1>
      <!--content section-->
      <div align="center">
         <br>
         I am really happy to know that you dropped by my webpage to know more about me.
         You can <a href="/about">click here</a> to know more about me.
         <br><br><br>
      </div>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>