<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>

      <div style="padding-top: 20px;">
         <h2>Projects</h2>
         <table>
            <tr>
               <td><img src="Assets/images/project 1.jpg" height="100px"></td>
               <td>
                  <strong>Crypto Signals</strong><br>
                  I analyze the market and the charts, to create succesfull Investing signals.
                  <br>
                  Role: Analyzing
               </td>
            </tr>
            <tr>
               <td><img src="Assets/images/project2.jpg" height="150px" width="150"></td>
               <td>
                  <strong>Dropshipping</strong><br>
                  I built an ecom business from scratch, and also managed all the marketing required.
                  <br>
                  Role: Researching, Marketing
               </td>
            </tr>
            <tr>
               <td><img src="Assets/images/project3.jpg" height="150px" width="150"></td>
               <td>
                  <strong>Workout Supplement Consulting</strong><br>
                  I sell Workout supplements with my partner, and I provide all the information required for the
                  customers
                  <br>
                  Role: Consultor
               </td>
            </tr>
         </table>
      </div>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>