<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>


      <div style="padding-top: 20px;">
         <h2>Services</h2>
         <ol>
            <li>Ecommerce</li>
            <li>Cryptocurrency signals</li>
            <li>Workout Supplement Consulting</li>
         </ol>
      </div>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>